@model ViewModels.HomeViewModel
@{
	ViewBag.Title = "وب سایت رسمی شرکت عهد ایرانیان";
	Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
	ViewBag.Canonical = "https://ahdiran.com";
}

<div id="slider" class="inspiro-slider" data-height-xs="360">
	<!-- Slide 1 -->
	@foreach (var slider in Model.Sliders)
	{
		<div class="slide" style="background-image:url('@slider.ImageUrl');">
			<div class="container">
				<div class="slide-captions text-light text-right">
					<!-- Captions -->
					<h1 data-caption-animation="rotateInUpLeft">@slider.Title</h1>
					<p data-caption-animation="rotateInUpLeft" data-caption-delay="300">@slider.Summery</p>
					<!-- end: Captions -->
				</div>
			</div>
		</div>
	}

</div>

<section class="background-colored text-dark p-b-40">
	<div class="container about-home">
		<div class="row">
			<div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="100">
				<div class="heading-text heading-section">
					<h1 class="text-medium">@Model.Sec2Col1</h1>
				</div>
			</div>

			<div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="300">
				@Html.Raw(Model.Sec2Col2)
			</div>

			<div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="600">
				@Html.Raw(Model.Sec2Col3)
			</div>

		</div>
	</div>
</section>

<section class="text-light" style="background: transparent url(/images/polygon/1.jpg);">
	<div class="container features-box">
		<div class="row">
			<div class="col-lg-4" style="border-left:4px solid">
				<div data-animate="fadeIn">
					<div class="heading-text heading-section">
						<h1 class="text-medium">بهترین خدمات شایسته شما است</h1>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row">

					@foreach (var feature in Model.Features)
					{
						<div class="col-lg-6" data-animate="flipInY" data-animate-delay="100">
							<div class="icon-box effect small clean">
								<div class="icon">
									<a href="#"><i class="@feature.Name"></i></a>
								</div>
								<h3>@feature.Title</h3>
								<p>@feature.Summery</p>
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	</div>
</section>

<section class="p-t-150 background-grey p-b-150">
	<div class="container home-customer">


		<div class="heading-text heading-section text-center">
			<span class="lead">مشتریان عهد ایرانیان</span>
		</div>
		<div class="carousel client-logos" data-items="6" data-items-sm="4" data-items-xs="3" data-items-xxs="2" data-margin="20" data-arrows="false" data-autoplay="true" data-autoplay="3000" data-loop="true">
			
		@foreach (var customer in Model.Customers)
		{
			<div>
				<a href="#">	<img src="@customer.ImageUrl" alt="@customer.Title"> </a>
			</div>
		}
		</div>
		@*<ul class="grid grid-4-columns">
			@foreach (var customer in Model.Customers)
			{

				<li>
					<a data-content="@customer.Summery" title="" data-placement="top" data-toggle="popover" data-container="body" data-original-title="@customer.Title" data-trigger="hover">
						<img src="@customer.ImageUrl" alt="@customer.Title">
					</a>
				</li>
			}

		</ul>*@
	</div>

</section>

<section class="box-fancy section-fullwidth text-dark" style="  background: url(/images/11.jpg) no-repeat center center fixed; 
	                                                            -webkit-background-size: cover;
	                                                            -moz-background-size: cover;
	                                                            -o-background-size: cover;
	                                                            background-size: cover;">



	<div class="row text-center ">
		<h2 style="margin:0 auto">
			فرایند ثبت درخواست اینترنت پرسرعت برج ها
		</h2>
	</div>
	<div class="row">
		@foreach (var item in Model.Process)
		{

			<div class="col-lg-3 text-center">
				<h1 class="text-lg text-uppercase">@item.Name</h1>
				<h3>@item.Title</h3>
				<span>
@item.Summery				</span>
			</div>
		}
 
	</div>
</section>

<section>
	<div class="container blog-home">
		<div class="row">
			<div class="col-lg-4">
				<h4 class="m-b-20">ارائه بهترین خدمات</h4>

				<p class="lead">
@Html.Raw(Model.ServiceText)
				</p>
			</div>
			<div class="col-lg-4">
				<h4 class="m-b-20">ارزش های سازمانی ما</h4>
				<div class="accordion fancy radius clean">
					@{
						int j = 1;
						foreach (var value in Model.Values)
						{
							if (j == 1)
							{
								<div class="ac-item ac-active">
									<h5 class="ac-title"><i class="fa fa-rocket"></i>@value.Title</h5>
									<div class="ac-content ac-active">
								@value.Summery
								</div>
								</div>
							}
							else
							{
								<div class="ac-item">
									<h5 class="ac-title"><i class="fa fa-heart"></i>@value.Title</h5>
									<div class="ac-content">
										@value.Summery									</div>
								</div>
							}
							j++;
						}
					}
					
				
			 
				</div>
			</div>
			<div class="col-lg-4">
				<h4 class="m-b-20">آخرین مقالات</h4>
				<div class="post-thumbnail-list">

					@for (int i = 0; i < 4; i++)
					{

						<div class="post-thumbnail-entry">
							<img src="/images/corporate-v7/images/blog/5.jpg" alt="">
							<div class="post-thumbnail-content">
								<a href="#">راه اندازی نسل پنجم اینترنت</a>
								<span class="post-date"><i class="far fa-clock"></i> 4 روز پیش</span>
								<span class="post-category"><i class="fa fa-tag"></i> اخبار</span>
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	</div>
</section>

<section class="p-t-150 p-b-200 contact-home" style="background-image:url(/images/branding/images/background-4.png); background-position:71% 22%;">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="m-b-10">با ما در تماس باشید</h2>
						<p class="lead">از طریق راه های ارتباطی زیر می توانید با ما در تماس باشید </p>
					</div>
					<div class="col-lg-6 m-b-30">
						<address>
							<strong>دفتر مرکزی:</strong><br>
							@Html.Raw(Model.Address)
						</address>
						<strong>تلفن:</strong>  <a href="tel:00982191071100"> @Model.Phone</a>
						<br>
					 
						<strong>ایمیل:</strong> @Model.Email
					</div>

					<div class="col-lg-12 m-b-30">
						<h4>ما را در شبکه های اجتماعی دنبال کنید</h4>
						<div class="social-icons social-icons-light social-icons-colored-hover">
							<ul>
								<li class="social-twitter"><a target="_blank" href="@Model.Telegram"><i class="fab fa-telegram"></i></a></li>
								<li class="social-instagram"><a target="_blank" href="@Model.Instagram"><i class="fab fa-instagram"></i></a></li>
								<li class="social-snapchat"><a target="_blank" href="https://api.whatsapp.com/send?phone=09229157300&text=%D8%B3%D9%84%D8%A7%D9%85%20%D9%88%20%D9%88%D9%82%D8%AA%20%D8%A8%D8%AE%DB%8C%D8%B1"><i class="fab fa-whatsapp"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 offset-1">
				<form class="widget-contact-form" novalidate action="include/contact-form.php" role="form" method="post">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="name">نام</label>
							<input type="text" aria-required="true" required name="widget-contact-form-name" class="form-control required name" placeholder="نام خود را وارد نمایید">
						</div>
						<div class="form-group col-md-6">
							<label for="email">ایمیل</label>
							<input type="email" aria-required="true" required name="widget-contact-form-email" class="form-control required email" placeholder="ایمیل خود را وارد نماید">
						</div>
					</div>
					<div class="form-group">
						<label for="message">پیام</label>
						<textarea type="text" required name="widget-contact-form-message" rows="8" class="form-control required" placeholder="پیام خود را واد نماید"></textarea>
					</div>
					<div class="form-group">
						<button class="btn btn-light" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i>&nbsp;ارسال پیام</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</section>

<section class="background-colored text-center p-t-80  p-b-30">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<div class="widget widget-newsletter">
					<form class="widget-subscribe-form" action="include/subscribe-form.php" role="form" method="post" novalidate>
						<h3 class="text-light">در خبر نامه ما ثبت نام کنید</h3>




						<div class="input-group mb-0">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-paper-plane"></i></span>
							</div>
							<input type="email" required name="widget-subscribe-form-email" class="form-control required email" placeholder="ایمیل خود را وارد کنید">

							<div class="input-group-append">
								<button type="submit" id="widget-subscribe-submit-button" class="btn btn-light">ثبت نام</button>
							</div>

						</div>





						<small class="text-light">از جدیدترین اخبار ما مطلع شوید</small>

					</form>

				</div>
			</div>
		</div>
	</div>
</section>